{% extends 'base.html' %}
{% block content %}

<section class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:pb-56 lg:pt-[8rem]">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">About Us</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Our health monitor app is designed to empower users to track and manage their well-being effectively. With intuitive interfaces and comprehensive features, it allows you to monitor vital signs, activity levels, and health metrics effortlessly. Whether you're managing a chronic condition or simply striving for a healthier lifestyle, our app provides personalized insights and actionable recommendations tailored to your needs. Backed by cutting-edge technology and medical expertise, we prioritize user privacy and data security to ensure a trusted experience. Join our community today and take control of your health journey with confidence.</p>
    </div>
</section>

{% endblock content %}