{% extends 'base.html' %}
{% block content %}

<section class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
    <div id="main-div" class="px-4 mx-auto max-w-screen-xl text-center pb-24">
        <div class="max-w-[40rem] mx-auto py-8">
            <h3 class="text-xl font-semibold text-white mb-4">Check Health Recommendations</h3>
            <form method="post" class="space-y-4 bg-sky-900 p-4 rounded-md" id="health-form">
                {% csrf_token %}
                <div class="flex mb-6 mt-3 mb:flex-col">
                    <div class="relative flex-1">
                      <span
                        id="name"
                        class="block mb-2 text-lg font-medium text-white dark:text-white"
                        >Name:</span
                      >
                      <div class="inline-flex items-center w-full">
                        <input
                          type="text"
                          name="name" 
                          id="name"
                          class="bg-white border border-[#F2F2F2] text-black text-xs font-semibold rounded-lg block w-full p-2.5 "
                          placeholder="Enter Full Name"
                        />
                      </div>
                      <div class="text-xs text-[#ff0000] hidden font-semibold" id="name-error"><i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Name is required.</div>
                    </div>
                </div>
                <div class="flex mb-6 mt-3 mb:flex-col">
                    <div class="relative flex-1">
                      <span
                        id="age"
                        class="block mb-2 text-lg font-medium text-white dark:text-white"
                        >Age:</span
                      >
                      <div class="inline-flex items-center w-full">
                        <input
                          type="number"
                          name="age" 
                          id="age"
                          class="bg-white border border-[#F2F2F2] text-black text-xs rounded-lg font-semibold block w-full p-2.5 "
                          placeholder="Enter Age"
                        />
                      </div>
                      <div class="text-xs text-[#ff0000] hidden font-semibold" id="age-error"><i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Age is required.</div>
                    </div>
                </div>
                <div class="flex mb-6 mt-3 mb:flex-col">
                    <div class="relative flex-1">
                      <span
                        id="gender"
                        class="block mb-2 text-lg font-medium text-white dark:text-white"
                        >Gender:</span
                      >
                      <div class="inline-flex items-center w-full">
                        <select
                            name="gender" 
                            id="gender"
                            class="text-sm bg-white border border-[#F2F2F2] p-2 mb-4 w-full font-semibold rounded focus:border-black focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50"
                        >
                            <option selected value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                      </div>
                      <div class="text-xs text-[#ff0000] hidden font-semibold" id="gender-error"><i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Gender is required.</div>
                    </div>
                </div>
                <div class="flex mb-6 mt-3 mb:flex-col">
                    <div class="relative flex-1">
                      <span
                        id="symptoms"
                        class="block mb-2 text-lg font-medium text-white dark:text-white"
                        >Symptoms:</span
                      >
                      <div class="inline-flex items-center w-full">
                        <textarea
                          type="text"
                          name="symptoms" 
                          id="symptoms"
                          class="bg-white border border-[#F2F2F2] text-black text-xs rounded-lg font-semibold block w-full p-2.5 "
                          placeholder="Enter Symptoms"
                        ></textarea>
                      </div>
                      <div class="text-xs text-[#ff0000] hidden font-semibold" id="symptoms-error"><i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Enter Symptoms.</div>
                    </div>
                </div>
                <button id="submitData" type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-sky-700 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-700">Submit</button>
                <button disabled type="button" id="submitting" class="hidden text-white bg-sky-700 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-sky-700 dark:hover:bg-sky-700 dark:focus:ring-sky-700 inline-flex items-center">
                  <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                  </svg>
                  Submitting...
                </button>
            </form>
        </div>
        <div class="max-w-md mx-auto py-8 mt-[2.5rem]" id="response-section">
        </div>
    </div>
</section>
<script>
document.getElementById('health-form').addEventListener('submit', async function(event) {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);
    const csrfToken = formData.get('csrfmiddlewaretoken');
    const submitting = document.getElementById('submitting');
    const submitData = document.getElementById('submitData');
    submitting.classList.remove("hidden");
    submitData.classList.add("hidden");

    function validateField(input, errorElement) {
        const isValid = input && input.trim();
        if (errorElement) {
            if (isValid) {
                errorElement.classList.add('hidden');
            } else {
                errorElement.classList.remove('hidden');
            }
        }
        return isValid; 
    }

    const fields = ['name', 'age', 'gender', 'symptoms'];
    let isValidForm = true; 

    for (const field of fields) {
        const input = formData.get(field);
        const errorElement = document.getElementById(`${field}-error`);
        isValidForm = validateField(input, errorElement) && isValidForm; // Update form validity
    }

    if (isValidForm) {
        try {
            const response = await fetch("{% url 'health_chatbot_api' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                },
                body: formData
            });
            const data = await response.json();

            const responseSection = document.getElementById('response-section');
            const main_div = document.getElementById('main-div');
            responseSection.innerHTML = '';

            if (data.response) {
                const responseDiv = document.createElement('div');
                responseDiv.className = 'bg-gray-100 p-4 rounded-md';
                responseDiv.innerHTML = `
                    <h4 class="text-lg font-semibold mb-2">Recommendation   :</h4>
                    <p>${data.response}</p>
                `;
                responseSection.appendChild(responseDiv);
                main_div.classList.add('flex');
                main_div.classList.add('flex-row');
            } else if (data.error) {
                const errorDiv = document.createElement('div');
                errorDiv.className = 'bg-red-100 p-4 rounded-md';
                errorDiv.innerHTML = `
                    <h4 class="text-lg font-semibold mb-2">Error:</h4>
                    <p>${data.error}</p>
                `;
                responseSection.appendChild(errorDiv);
                main_div.classList.add('flex');
                main_div.classList.add('flex-row');
            }
        } catch (error) {
            console.error('Error:', error);
        } finally {
            submitting.classList.add("hidden");
            submitData.classList.remove("hidden");
        }
    } else {
        submitting.classList.add("hidden");
        submitData.classList.remove("hidden");
    }
});
</script>

{% endblock content %}